<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>经营分析报表</title>

    <!-- import Vue.js -->
    <script src="plugins/vue.min.js"></script>
    <!-- import stylesheet -->
    <link href="plugins/styles/iview.css" rel="stylesheet">
    <script src="plugins/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="/plugins/element-ui/lib/theme-chalk/index.css">
    <!-- import jQuery.js -->
    <script src="plugins/jquery.js"></script>
</head>
<body>
<div id="app">

</div>
</body>

<script type="text/javascript">
    new Vue({
        el: "#app",
        render: h => h(App)
    })
</script>
</html>